"*":
  Hydrogen:
    kernelNotifications: true
  "atom-beautify":
    general:
      _analyticsUserId: "ad6c9a1d-361b-4821-abe0-8b464bed64bd"
    python:
      beautify_on_save: true
      sort_imports: true
  "auto-encoding":
    disallowEncTypes: "utf-8"
    forceEncTypes: "utf-8"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    enableExtendedUnicodeSupport: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "git-history"
    ]
    packagesWithKeymapsDisabled: [
      "git-control"
      "Hydrogen"
    ]
    projectHome: "/home/mtt/program"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontFamily: "Ricty Diminished"
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "aff7f8e2-fff4-40f6-82be-ffb1c19651ff"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    commits: {}
    experimental:
      diffBranches: true
    general: {}
    remoteInteractions: {}
    tags:
      signTags: true
  kite:
    showKiteTourOnStartup: false
  "linter-ui-default": {}
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
".breakpoints.hydrogen":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    tabType: "soft"
".editorconfig.source":
  editor:
    tabType: "soft"
