"*":
  Hydrogen:
    kernelNotifications: true
  "atom-beautify":
    general:
      _analyticsUserId: "8aa432fd-0ff9-4c96-8218-50629622d827"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "git-history"
    ]
    packagesWithKeymapsDisabled: [
      "git-control"
      "Hydrogen"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "aff7f8e2-fff4-40f6-82be-ffb1c19651ff"
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    commits: {}
    experimental:
      diffBranches: true
    general: {}
    remoteInteractions: {}
    tags:
      signTags: true
  kite:
    showKiteTourOnStartup: false
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
".breakpoints.hydrogen":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    tabType: "soft"
".editorconfig.source":
  editor:
    tabType: "soft"
