"*":
  core:
    closeDeletedFileTabs: true
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "aff7f8e2-fff4-40f6-82be-ffb1c19651ff"
  "git-diff":
    showIconsInEditorGutter: true
  kite:
    showKiteTourOnStartup: false
  tabs:
    enableVcsColoring: true
